
New Viewing Party for <%= @movie.title%>

<%= form_with url: "/users/movies/#{@movie.id}/parties", model: @viewingparty, local: true do |form| %>

<div>
  <%= form.label :duration %>
  <%= form.number_field :duration, :value => @movie.runtime, min:@movie.runtime %>
</div><br>

<div>
  <%= form.label :date %>
  <%= form.date_field :date %>
</div><br>

<div>
  <%= form.label :time %>
  <%= form.time_field :time %>
</div><br>


<div>
  <%= form.label :user_name %>
  <%= form.text_field :user_name %>
</div><br>


<div id="user-invites">
  Invite Friends!
  <% @all_users.each do |user| %>
    <% unless session[:user_id] == @user.id %>
      <%= form.label user.name %>
      <%=form.check_box("invites", {:multiple => true}, session[:user_id], nil) %>
    <% end %>
  <% end %>
</div>
<% form.hidden_field :movie_title, value: @movie.title %>
<% form.hidden_field :movie_id, value: @movie.id %>
<% form.hidden_field :user_id, value: session[:user_id]%>

  <%= form.submit 'Create Party' %>

<%end %>