<h1>Viewing Party Lite</h1>

<% if current_user %>
  <%= "#{current_user.name} has been logged in!"%>
<% end %>

<% if session[:user_id] == nil %>
  <%= button_to "Create New User", "/register", method: :get %>
  <%= link_to "I already have an account", login_path %>
<% end%>

<% @users.each do |user| %>
  <div id=user-<%="#{user.id}"%>>
    <%= link_to user.name, "/users/#{user.id}" %>
  </div>
<% end %>